<div class="chat-box">
  <h4 id="receiver_name"><%= @receiver.name %></h4>
  <span id="msg_sender_id" class="hide"><%= @sender.id %></span>
  <div id="messages">
    <div id="user_<%= @receiver.id %>">
      <%= render messages %>
    </div>
  </div>
  <form>
    <textarea data-behavior="room_speaker" class="input-message" placeholder="Some text" cols="40" rows="3" name="textarea" id="textarea"></textarea>
    <%= hidden_field_tag "sender", @sender.id, id:"user" %>
    <%= hidden_field_tag "receiver", @receiver.id, id:"receiver" %>
  </form>
</div>
<script>
  scrollItNow()
</script>