<div class="chat-box">
  <h4 id="receiver_name"><%= @receiver.name %></h4>
  <span id="msg_sender_id" class="hide"><%= @sender.id %></span>
  <div id="messages">
    <div id="user_<%= @receiver.id %>">
      <% if @messages.present? %>
        <div style="width:100%; text-align:center; padding:1px; color:gray;">
          <hr/>
          Started from: <%= @messages.first.created_at.strftime('%A, %d/%m/%Y') %>
        </div>
        <%= render partial: "messages/message", locals:{message: @messages.first} %>
      <% end %>
      <% @messages.each_cons(2) do |pre_message, message| %>
        <% if pre_message.created_at.strftime('%d-%m-%Y') == message.created_at.strftime('%d-%m-%Y') %>
          <%= render partial: "messages/message", locals:{message: message} %>
        <% else %>
          <div style="width:100%; text-align:center; padding:1px; color:gray;">
            <hr/>
            <%= message.created_at.strftime('%A, %d/%m/%Y') %>
          </div>
          <%= render partial: "messages/message", locals:{message: message} %>
        <% end %>
      <% end %>
    </div>
  </div>
  <form>
    <textarea data-behavior="room_speaker" class="input-message" placeholder="Some text" cols="40" rows="3" name="textarea" id="textarea"></textarea>
    <%= hidden_field_tag "sender", @sender.id, id:"user" %>
    <%= hidden_field_tag "receiver", @receiver.id, id:"receiver" %>
  </form>
</div>
<script>
  scrollItNow()
</script>